/*.dv-coupon {
	padding:10px;
	border:2px dashed #ccc;
	width:225px;
	min-height:530px;
	float:left;
	position: relative;
	box-sizing: border-box;
	margin:0 30px 20px 0;
}
.featured-coupons .dv-coupon {
	border:2px dashed #9a0064;
	*//* width:300px;
	min-height:450px;
	margin-right: 45px;
	 *//*
}
.img-container {
	width: 100%;
	height: 180px;
	clear: both;
	text-align: center;
	position: relative;
}
.cpn-details {
	clear: both;
	height: 128px;
}
.featured-coupons .cpn-details {
	height: 148px;
}
.cpn-rules {
	clear: both;
	padding: 5px 0;
}
.img_sku {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.img_Brand {
	display:block;
	position:relative;
	margin-top:40px;
	float: right;
	clear:both;
}
.cpn_title {
	font-size:24px;
	max-height: 52px;
	line-height: 26px;
	font-weight: bold;
	color: #0079C2;
	clear:both;
	overflow: hidden;
	margin-bottom: 5px;
}
.cpn_title sup {
	font-size: 16px;
	line-height: 20px;
}
.cpn_sub_title {
	font-size: 18px;
	max-height:69px;
	line-height: 22px;
	color: #333;
	clear: both;
	overflow: hidden;
}
.cpn_exception {
	font-size: 12px;
	line-height: 16px;
	 max-height: 16px;
	 overflow: hidden;
	color: #333;
	clear:both;
	margin-bottom: 5px;
}
.cpn_restrictions {
	font-size: 12px;
	line-height: 16px;
	color: #333;
	clear:both;
}
.viewdisc_txt,
.viewdisc_txt:hover {
	font-size: 12px;
	line-height: 16px;
	color:#333;
	clear:both;
	text-decoration: underline;
}
.cpn_code_ph {
	height: 36px;
	clear:both;
}
.dv-coupon-code {
	width:100%;
	height:36px;
	background-color:#cccccc;
	color:#333;
	font-size: 18px;
	text-align:center;
	line-height:36px;
	float:left;
	margin-bottom:2px;
}
#popup {
	border-radius:5px !important;
}
.cpnInfo-ph {
	height: 20px;
	bottom: 28px;
}
.isCouponClipperCustomList div#PageInner.coupon-clipper-ON .cpnInfo-ph {
	bottom:0;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
	width:90%;
}
.showOverlay {
	font-size: 12px;
	line-height: 16px;
	display: block;
}
.closeOverlay {
	font-size: 12px;
	line-height: 14px;
	float: right;
}
.cpnInfo-ph .showOverlay.hide-gift-details {
	display: none;
}
.dv-coupon .qp-overlay {
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	bottom: 101px;
	left: -2px;
	display: none;
}
.dv-coupon .qp-overlay a {
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}
#PageInner.plp-user.tier_0 .dv-coupon .qp-overlay {
	display: block;
}
#PageInner.plp-user.tier_4 .dv-coupon.free-ship, #PageInner.plp-user.tier_4 .dv-coupon.off-15 {
	display:none;
}*/