#agency {
	margin: 0 auto;
	max-width: $px * 145;
}

#agency, 
.agency {

	.align {

        &--center {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        &--justify {
            justify-content: space-evenly;
            text-align: justify;
        }

        &--left {
            justify-content: flex-start;
            text-align: left;
        }

        &--right {
            justify-content: flex-end;
            text-align: right;
        }
    }

	.article, 
	.footer, 
	.h1, 
	.h2, 
	.h3, 
	.h4, 
	.h5, 
	.header, 
	.htmlText, 
	.ol, 
	.p, 
	.p--attribution, 
	.p--disclaimer, 
	.p--noMargin, 
	.p--small, 
	.section, 
	.table__caption, 
	.ul {
		max-width: $px * 188.5;
		width: $pct * 100;
	}

	.float {

        &--left {
            float: left;
            margin-left: 0;
            margin-right: $pct * 2;
        }

        &--right {
            float: right;
            margin-left: $pct * 2;
            margin-right: 0;
        }
    }

    .flex {
		flex-flow: column wrap;
    }

	.grid, 
	&.grid {
		flex-flow: row wrap;
	}

	.grid, 
	&.grid, 
	.flex {
		align-items: flex-start;
		display: flex;
		// margin: 0 auto;
		// overflow: hidden;
		padding-bottom: 0;

		& .grid__unit {

			&--12-5, 
			&--25, 
			&--33, 
			&--50, 
			&--66, 
			&--75, 
			&--100 {
				// align-self: stretch;
				background-image: none;
				box-sizing: border-box;
				display: flex;
				flex-wrap: wrap;
				overflow: hidden;
				padding-bottom: 0;
				padding-top: 0;
				position: relative;
				
				@media #{$mobPortMax} {
    				padding-left: $pct * 1;
					padding-right: $pct * 1;
				}

				@media #{$mobLandMin} and #{$tabPortMax} {
    				padding-left: $pct * 1.5;
					padding-right: $pct * 1.5;
				}

				@media #{$tabLandMin} and #{$tabLandMax} {
				    padding-left: $pct * 1.25;
					padding-right: $pct * 1.25;
				}

				@media #{$laptopMin} and #{$laptopMax} {
				    padding-left: $pct * 1;
					padding-right: $pct * 1;
				}

				@media #{$desktopMin} {
				    padding-left: $pct * .75;
					padding-right: $pct * .75;
				}
				
				&.webModCard {
					align-self: stretch;
				}
			}
		}

		& > .grid__unit {

			&--12-5 {
				width: $column * 1;

				&.webModCard {
					width: $column * 4;

					@media #{$mobLandMin} and #{$mobLandMax} {
						width: $column * 3;
					}

					@media #{$tabPortMin} and #{$tabPortMax} {
						width: $column * 2;
					}

					@media #{$tabLandMin} and #{$tabLandMax} {
						width: $column * 1.5;
					}

					@media #{$laptopMin} and #{$laptopMax} {
						width: $column * 1.2;
					}

					@media #{$desktopMin} {
						width: $column * 1;
					}
				}
			}

			&--25 {
				width: $column * 6;
					
				@media #{$tabLandMin} {
					width: $column * 3;
				}

				&.webModCard {
					
					@media #{$tabPortMin} and #{$tabPortMax} {
						width: $column * 4;
					}

					@media #{$tabLandMin} and #{$tabLandMax} {
						width: $column * 3;
					}

					@media #{$laptopMin} and #{$laptopMax} {
						width: $column * 2.4;
					}

					@media #{$desktopMin} {
						width: $column * 2;
					}
				}
			}

			&--33, 
			&--50, 
			&--66, 
			&--75, 
			&--100 {
				width: $column * 12;
			}

			&--33 {

				@media #{$mobLandMin} {
					width: $column * 4;
				}

				&.webModCard {
					width: $column * 6;

					@media #{$tabLandMin} and #{$tabLandMax} {
						width: $column * 4;
					}

					@media #{$laptopMin} and #{$laptopMax} {
						width: $column * 3;
					}

					@media #{$desktopMin} {
						width: $column * 2.4;
					}
				}
			}

			&--40 {
				width: $column * 4.8;
			}
			
			&--50 {

				@media #{$tabLandMin} {
					width: $column * 6;
				}

				&.webModCard {
					width: $column * 12;
					
					@media #{$tabPortMin} and #{$tabPortMax} {
						width: $column * 8;
					}

					@media #{$tabLandMin} and #{$tabLandMax} {
						width: $column * 6;
					}

					@media #{$laptopMin} and #{$laptopMax} {
						width: $column * 4.8;
					}

					@media #{$desktopMin} {
						width: $column * 4;
					}
				}
			}

			&--60 {
				width: $column * 7.2;
			}

			&--66 {

				@media #{$mobLandMin} {
					width: $column * 8;
				}

				&.webModCard {
					width: $column * 6;

					@media #{$tabLandMin} and #{$tabLandMax} {
						width: $column * 8;
					}

					@media #{$laptopMin} and #{$laptopMax} {
						width: $column * 9;
					}

					@media #{$desktopMin} {
						width: $column * 9.6;
					}
				}
			}

			&--75 {

				@media #{$desktopMin} {
					width: $column * 9;
				}
			}

			&--customList {
				width: $vw * 100;
			}
		}
	}	

	.grid .margin, 
	&.grid .margin, 
	.margin, 
	&.margin {

		&__all {

			&--0 {
				margin: 0;
			}

			&--12-5 {

				@media #{$mobLandMax} {
					margin: $pct * 0.5;
				}
				
				@media #{$tabPortMin} {
					margin: $px * 0.5;
				}
			}
			
			&--25 {

				@media #{$mobLandMax} {
					margin: $pct * 1;
				}
				
				@media #{$tabPortMin} {
					margin: $px * 1;
				}
			}
			
			&--50 {

				@media #{$mobLandMax} {
					margin: $pct * 2;
				}
				
				@media #{$tabPortMin} {
					margin: $px * 2;
				}
			}
			
			&--75 {

				@media #{$mobLandMax} {
					margin: $pct * 3;
				}
				
				@media #{$tabPortMin} {
					margin: $px * 3;
				}
			}

			&--100 {

				@media #{$mobLandMax} {
					margin: $pct * 8;
				}
				
				@media #{$tabPortMin} {
					margin: $px * 4;
				}
			}
		}

		&__bottom {

			&--0 {
				margin-bottom: 0;
			}

			&--12-5 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 0.5;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 0.5;
				}
			}
			
			&--25 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 1;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 1;
				}
			}
			
			&--50 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 2;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 2;
				}
			}
			
			&--75 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 3;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 3;
				}
			}

			&--100 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 4;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 4;
				}
			}
		}

		&__horizontal {

			&--0 {
				margin-left: 0;
				margin-right: 0;
			}

			&--12-5 {

				@media #{$mobLandMax} {
					margin-left: $pct * 0.5;
					margin-right: $pct * 0.5;
				}
				
				@media #{$tabPortMin} {
					margin-left: $pct * 0.5;
					margin-right: $px * 0.5;
				}
			}
			
			&--25 {

				@media #{$mobLandMax} {
					margin-left: $pct * 1;
					margin-right: $pct * 1;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 1;
					margin-right: $px * 1;
				}
			}
			
			&--50 {

				@media #{$mobLandMax} {
					margin-left: $pct * 2;
					margin-right: $pct * 2;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 2;
					margin-right: $px * 2;
				}
			}
			
			&--75 {

				@media #{$mobLandMax} {
					margin-left: $pct * 3;
					margin-right: $pct * 3;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 3;
					margin-right: $px * 3;
				}
			}

			&--100 {

				@media #{$mobLandMax} {
					margin-left: $pct * 4;
					margin-right: $pct * 4;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 4;
					margin-right: $px * 4;
				}
			}
		}

		&__left {

			&--0 {
				margin-left: 0;
			}

			&--12-5 {

				@media #{$mobLandMax} {
					margin-left: $pct * 0.5;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 0.5;
				}
			}
			
			&--25 {

				@media #{$mobLandMax} {
					margin-left: $pct * 1;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 1;
				}
			}
			
			&--50 {

				@media #{$mobLandMax} {
					margin-left: $pct * 2;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 2;
				}
			}
			
			&--75 {

				@media #{$mobLandMax} {
					margin-left: $pct * 3;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 3;
				}
			}

			&--100 {

				@media #{$mobLandMax} {
					margin-left: $pct * 4;
				}
				
				@media #{$tabPortMin} {
					margin-left: $px * 4;
				}
			}
		}

		&__right {

			&--0 {
				margin-right: 0;
			}

			&--12-5 {

				@media #{$mobLandMax} {
					margin-right: $pct * 0.5;
				}
				
				@media #{$tabPortMin} {
					margin-right: $px * 0.5;
				}
			}
			
			&--25 {

				@media #{$mobLandMax} {
					margin-right: $pct * 1;
				}
				
				@media #{$tabPortMin} {
					margin-right: $px * 1;
				}
			}
			
			&--50 {

				@media #{$mobLandMax} {
					margin-right: $pct * 2;
				}
				
				@media #{$tabPortMin} {
					margin-right: $px * 2;
				}
			}
			
			&--75 {

				@media #{$mobLandMax} {
					margin-right: $pct * 3;
				}
				
				@media #{$tabPortMin} {
					margin-right: $px * 3;
				}
			}

			&--100 {

				@media #{$mobLandMax} {
					margin-right: $pct * 4;
				}
				
				@media #{$tabPortMin} {
					margin-right: $px * 4;
				}
			}
		}

		&__top {

			&--0 {
				margin-top: 0;
			}

			&--12-5 {

				@media #{$mobLandMax} {
					margin-top: $pct * 0.5;
				}
				
				@media #{$tabPortMin} {
					margin-top: $px * 0.5;
				}
			}
			
			&--25 {

				@media #{$mobLandMax} {
					margin-top: $pct * 1;
				}
				
				@media #{$tabPortMin} {
					margin-top: $px * 1;
				}
			}
			
			&--50 {

				@media #{$mobLandMax} {
					margin-top: $pct * 2;
				}
				
				@media #{$tabPortMin} {
					margin-top: $px * 2;
				}
			}
			
			&--75 {

				@media #{$mobLandMax} {
					margin-top: $pct * 3;
				}
				
				@media #{$tabPortMin} {
					margin-top: $px * 3;
				}
			}

			&--100 {

				@media #{$mobLandMax} {
					margin-top: $pct * 4;
				}
				
				@media #{$tabPortMin} {
					margin-top: $px * 4;
				}
			}
		}

		&__vertical {

			&--0 {
				margin-bottom: 0;
				margin-top: 0;
			}

			&--12-5 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 0.5;
					margin-top: $pct * 0.5;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 0.5;
					margin-top: $px * 0.5;
				}
			}
			
			&--25 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 1;
					margin-top: $pct * 1;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 1;
					margin-top: $px * 1;
				}
			}
			
			&--50 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 2;
					margin-top: $pct * 2;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 2;
					margin-top: $px * 2;
				}
			}
			
			&--75 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 3;
					margin-top: $pct * 3;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 3;
					margin-top: $px * 3;
				}
			}

			&--100 {

				@media #{$mobLandMax} {
					margin-bottom: $pct * 4;
					margin-top: $pct * 4;
				}
				
				@media #{$tabPortMin} {
					margin-bottom: $px * 4;
					margin-top: $px * 4;
				}
			}
		}
	}

	.width--445, 
	&.width--445, 
	.width--mobPort, 
	&.width--mobPort {
		max-width: $px * 44.5;
	}

	.width--695, 
	&.width--695, 
	.width--mobLand, 
	&.width--mobLand {
		max-width: $px * 69.5;
	}

	.width--944, 
	&.width--944, 
	.width--tabPort, 
	&.width--tabPort {
		max-width: $px * 94.4;
	}

	.width--944, 
	&.width--944, 
	.width--tabPort, 
	&.width--tabPort, 
	.width--1212, 
	&.width--1212, 
	.width--tabLand, 
	&.width--tabLand {

		.grid {

			&__unit {

				&--33 {

					@media #{$mobPortMax} {
						width: $column * 12;
					}

					@media #{$mobLandMin} and #{$mobLandMax} {
						width: $column * 6;
					}

					@media #{$tabPortMin} {
						width: $column * 4;
					}
				}

				&--50 {

					@media #{$mobPortMax} {
						width: $column * 12;
					}

					@media #{$mobLandMin} {
						width: $column * 6;
					}
				}
			}
		}
	}

	.width--1212, 
	&.width--1212, 
	.width--tabLand, 
	&.width--tabLand {
		max-width: $px * 121.2;
	}

	.width--1500, 
	&.width--1500, 
	.width--laptop, 
	&.width--laptop {
		max-width: $px * 150;

		.grid {

			&__unit {

				&--33 {

					@media #{$tabPortMin} {
						width: $column * 4;
					}	
				}
				
				&--50 {

					@media #{$tabPortMin} {
						width: $column * 6;
					}
				}

				&--66 {

					@media #{$tabPortMin} {
						width: $column * 8;
					}
				}

				&--75 {

					@media #{$tabPortMin} {
						width: $column * 9;
					}
				}
			}
		}
	}
}