@import "module/blockquote.scss";
@import "module/card.scss";
@import "module/carousel.scss";
@import "module/custom-list.scss";
@import "module/disclaimer.scss";
@import "module/icc.scss";
@import "module/nav.scss";
@import "module/paper.scss";
@import "module/qplus.scss";
@import "module/sds.scss";
@import "module/table.scss";
@import "module/web-mod.scss";