//colors
$blue: #0079c2;
$darkGray: #333;
$gold: #ca9d2c;
$gray: #bcbcbc;
$lightBlue: #d6e9f6;
$lightGray: #999;
$orange: #f69036;
$plum: #a20067;
$red: #e4002b;
$white: #fff;

// units
$em: 1em;
$pct: 1%;
$px: 10px;
$vw: 1vw;

// variables
$column: 8.333333%;
$fontFamily: 'helveticaNeue, arial, sans-serif';


// media queries 
//device
$ie11: 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)';

// responsive grid
$mobPortMax: '(max-width: 500px)';
$mobLandMin: '(min-width: 500px)';
$mobLandMax: '(max-width: 766px)';
$tabPortMin: '(min-width: 766px)';
$tabPortMax: '(max-width: 1012px)';
$tabLandMin: '(min-width: 1012px)';
$tabLandMax: '(max-width: 1280px)';
$laptopMin: '(min-width: 1280px)';
$laptopMax: '(max-width: 1520px)';
$desktopMin: '(min-width: 1520px)';


// mixins
@mixin font($color: #333, $height: 1em, $weight: 400) {
	color: $color;
	fill: $color;
	font-family: #{$fontFamily};
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: $weight;
    line-height: $height;
}
@mixin svg--or($bottom, $diameter, $right) {
    bottom: $bottom;
	height: $diameter;
	right: $right;
	width: $diameter;
}

