/* ------- VARIABLES ------- */

#agency {
	--color-primary-alternate: #ff5c5c;
	--color-primary-alternate-tint-90: #ff6969;
	--color-primary-alternate-tint-80: #ff7c7d;
	--color-primary-alternate-tint-70: #ff9493;
	--color-primary-alternate-tint-60: #ffadac;
	--color-primary-alternate-tint-50: #ffc6c6;
	--color-primary-alternate-tint-40: #ffdedd;
	--color-primary-alternate-tint-30: #fff1f1;

	--color-primary-dark: #1a535c;
	--color-primary-dark-tint-90: #2c6169;
	--color-primary-dark-tint-80: #48757d;
	--color-primary-dark-tint-70: #688e94;
	--color-primary-dark-tint-60: #8ba8ac;
	--color-primary-dark-tint-50: #afc3c6;
	--color-primary-dark-tint-40: #cfdbdd;
	--color-primary-dark-tint-30: #eaf0f1;

	--color-primary-light: #81e3dc;
	--color-primary-light-tint-90: #8be5df;
	--color-primary-light-tint-80: #48757d;
	--color-primary-light-tint-70: #acece8;
	--color-primary-light-tint-60: #bff1ed;
	--color-primary-light-tint-50: #d3f5f2;
	--color-primary-light-tint-40: #e5f9f7;
	--color-primary-light-tint-30: #f4fdfc;

	--color-secondary-gray: #f3f3f3;
	--color-secondary-dark: #007d7c;
	--color-secondary-light: #f7fff7;


	--font-family-primary: neue-haas-unica, helvetica, arial, sans-serif;
	--font-family-secondary: rockwell-nova, monospace;

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-ultra-bold: 800;


	--size-xx-small: 4px;
	--size-x-small: 10px;
	--size-small: 16px;
	--size-medium: 22px;
	--size-large: 32px;
	--size-x-large: 42px;
	--size-xx-large: 52px;



	--button-primary-color: var(--color-primary-alternate);
	--button-primary-hover-color: #ca4040;
	--button-secondary-color: var(--color-primary-dark);
	--button-secondary-hover-color: var(--color-secondary-dark);
	--button-text-color: #fff;

	--heading-color: var(--color-primary-dark);

	--sub-heading-color: var(--color-secondary-dark);

	--text-color: #333;
	--text-link-primary-color: #0072bc;
	--text-link-primary-hover-color: #bc2e2e;
	--text-link-secondary-color: #bc2e2e;
	--text-link-secondary-hover-color: #ff7e7e;
	--text-link-tertiary-color: var(--color-primary-alternate);
	--text-link-tertiary-hover-color: #bc2e2e;

}


/* ------- STYLES ------- */

#agency, 
#agency * {
	color: var(--text-color);
	font-family: var(--font-family-primary);
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: var(--font-weight-regular);
    line-height: 1.25;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
	transition: all 0.15s ease-in-out;
}

#agency .a:active, 
#agency .a:link, 
#agency .a:visited {
	color: var(--text-link-primary-color);
}

#agency .a:hover {
	color: var(--text-link-primary-hover-color);
}

#agency .button-primary:active, 
#agency .button-primary:link, 
#agency .button-primary:visited {
	background-color: var(--button-primary-color);
	border: none;
	border-radius: 5px;
	color: var(--button-text-color);
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: var(--font-weight-light);
	height: 36px;
	line-height: 36px;
	max-width: 200px;
	min-width: 150px;
	padding: 0 10px;
	text-align: center;
	width: auto;
}

#agency .button-primary:hover {
	background-color: var(--button-primary-hover-color);
}

#agency .em {
	font-style: italic;
}

#agency .h1, 
#agency .h2, 
#agency .h3,
#agency .h4,
#agency .h5 {
	margin-bottom: var(--size-xx-small);
}

#agency .h1, 
#agency .h2, 
#agency .h3 {
	font-family: var(--font-family-secondary);
}

#agency .h1, 
#agency .h3 {
	color: var(--heading-color);
}

#agency .h2 {

	color: var(--sub-heading-color);
}

#agency .h4 {
	color: var(--text-color);
	font-family: var(--font-family-primary);
}

#agency .h1 {
	font-size: var(--size-x-large);
}

#agency .h2 {
	font-size: var(--size-large);
}

#agency .h3, #agency .h4 {
	font-size: var(--size-medium);
}

#agency .h4 {
	font-weight: var(--font-weight-medium);
}

#agency .li, 
#agency .li-small, 
#agency .ol__li, 
#agency .ol__li-small, 
#agency .ul__li, 
#agency .ul__li-small {
	background-image: none;
	display: list-item;
}

#agency .ol, 
#agency .ol__li, 
#agency .ol__li-small {
	list-style-type: decimal;
}

#agency .ol, 
#agency .ul {
	padding-left: 1.75em;
}

#agency .p, 
#agency .p-small, 
#agency .li, 
#agency .li-small, 
#agency .ol__li, 
#agency .ol__li-small, 
#agency .ul__li, 
#agency .ul__li-small {
	font-family: var(--font-family-primary);
	line-height: 1.75;
}

#agency .p, 
#agency .li, 
#agency .ol__li, 
#agency .ul__li {
	font-size: var(--size-medium);
}

#agency .p {
	margin-bottom: var(--size-medium);
}

#agency .p-small, 
#agency .li-small, 
#agency .ol__li-small, 
#agency .ul__li-small {
	font-size: var(--size-small);
}

#agency .p-small {
	margin-bottom: var(--size-small);
}

#agency .secondary-nav {
	height: 100%;
	margin-right: var(--size-medium);
	min-width: 200px;
}

#agency .secondary-nav-button {
	width: 30px;
}
#agency .secondary-nav-button > * {
	fill: #fff;
    height: 3px;
    width: 30px;
}

#agency .secondary-nav__li, 
#agency .secondary-nav__li--active {
	background-image: none;
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 1.5;
	padding: 0.5em;
}

#agency .secondary-nav__li {
	background-color: var(--color-primary-dark-tint-30);
}

#agency .secondary-nav__li:hover {
	background-color: var(--color-primary-dark-tint-40);
}

#agency .secondary-nav__li--active {
    background-color: var(--color-primary-alternate);
    color: #fff;
}

#agency .secondary-nav__ul {
    list-style-type: none;
}

#agency .strong {
	font-family: inherit;
	font-weight: var(--font-weight-bold);
}

#agency .sup {
    font-size: .6em;
    line-height: 1;
    vertical-align: .4em;
}

#agency .ul, 
#agency .ul__li, 
#agency .ul__li-small {
	list-style-type: disc;
}


/* ------- MOBILE ------- */

.mobilePage #agency {
	padding: 0 var(--size-x-small);
	width: 100%;
}

.mobilePage #agency .h1 {
	font-size: var(--size-large);
}

.mobilePage #agency .h2 {
	font-size: var(--size-medium);
}

.mobilePage #agency .h3, 
.mobilePage #agency .h4 {
	font-size: var(--size-small);
}

.mobilePage #agency .p, 
.mobilePage #agency .p-small, 
.mobilePage #agency .li, 
.mobilePage #agency .li-small, 
.mobilePage #agency .ol__li, 
.mobilePage #agency .ol__li-small, 
.mobilePage #agency .ul__li,
.mobilePage #agency .ul__li-small {
	font-size: var(--size-small);
}

.mobilePage #agency .secondary-nav {
	position: absolute;
    left: 0;
    min-width: 100%;
    top: 0;
    z-index: 1;
}

.mobilePage #agency .secondary-nav__li, 
.mobilePage #agency .secondary-nav__li--active {
	padding: 1em;
}


/* ------- UTILITY ------- */

#agency .u-align-center {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#agency .u-align-right {
	justify-content: flex-end;
	margin-left: auto;
	text-align: right;
}

#agency .u-color-primary-alternate {
	color: var(--color-primary-alternate);
}

#agency .u-display-on-desktop {
	display: revert;
}

#agency .u-display-on-mobile {
	display: none;
}

#agency .u-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#agency .u-flex-column {
	display: flex;
	flex-direction: column;
}

#agency .u-flex-wrap {
	flex-wrap: wrap;
}

#agency .u-font-weight-light {
	font-weight: var(--font-weight-light);
}

#agency .u-font-weight-regular {
	font-weight: var(--font-weight-regular);
}

#agency .u-font-weight-medium {
	font-weight: var(--font-weight-medium);
}

#agency .u-font-weight-bold {
	font-weight: var(--font-weight-bold);
}

#agency .u-font-weight-ultra-bold {
	font-weight: var(--font-weight-ultra-bold);
}


#agency .u-margin-bottom-none {
	margin-bottom: 0 !important;
}

#agency .u-margin-bottom-xx-small {
	margin-bottom: var(--size-xx-small);
}

#agency .u-margin-bottom-x-small {
	margin-bottom: var(--size-x-small);
}

#agency .u-margin-bottom-small {
	margin-bottom: var(--size-small);
}

#agency .u-margin-bottom-medium {
	margin-bottom: var(--size-medium);
}

#agency .u-margin-bottom-large {
	margin-bottom: var(--size-large);
}

#agency .u-margin-bottom-x-large {
	margin-bottom: var(--size-x-large);
}

#agency .u-margin-bottom-xx-large {
	margin-bottom: var(--size-xx-large);
}

#agency .u-margin-left-none {
	margin-left: 0 !important;
}

#agency .u-margin-left-xx-small {
	margin-left: var(--size-xx-small);
}

#agency .u-margin-left-x-small {
	margin-left: var(--size-x-small);
}

#agency .u-margin-left-small {
	margin-left: var(--size-small);
}

#agency .u-margin-left-medium {
	margin-left: var(--size-medium);
}

#agency .u-margin-left-large {
	margin-left: var(--size-large);
}

#agency .u-margin-left-x-large {
	margin-left: var(--size-x-large);
}

#agency .u-margin-left-xx-large {
	margin-left: var(--size-xx-large);
}

#agency .u-margin-right-none {
	margin-right: 0 !important;
}

#agency .u-margin-right-xx-small {
	margin-right: var(--size-xx-small);
}

#agency .u-margin-right-x-small {
	margin-right: var(--size-x-small);
}

#agency .u-margin-right-small {
	margin-right: var(--size-small);
}

#agency .u-margin-right-medium {
	margin-right: var(--size-medium);
}

#agency .u-margin-right-large {
	margin-right: var(--size-large);
}

#agency .u-margin-right-x-large {
	margin-right: var(--size-x-large);
}

#agency .u-margin-right-xx-large {
	margin-right: var(--size-xx-large);
}

#agency .u-margin-top-none {
	margin-top: 0 !important;
}

#agency .u-margin-top-xx-small {
	margin-top: var(--size-xx-small);
}

#agency .u-margin-top-x-small {
	margin-top: var(--size-x-small);
}

#agency .u-margin-top-small {
	margin-top: var(--size-small);
}

#agency .u-margin-top-medium {
	margin-top: var(--size-medium);
}

#agency .u-margin-top-large {
	margin-top: var(--size-large);
}

#agency .u-margin-top-x-large {
	margin-top: var(--size-x-large);
}

#agency .u-margin-top-xx-large {
	margin-top: var(--size-xx-large);
}

#agency .u-mobile-x-scroll {
	overflow: hidden;
}

#agency .u-reversed {
	color: #fff;
}

/* ------- UTILITY MOBILE ------- */

.mobilePage #agency .u-display-on-desktop {
	display: none;
}

.mobilePage #agency .u-display-on-mobile {
	display: revert;
}

.mobilePage #agency .u-flex-wrap-mobile {
	flex-wrap: wrap;
}

.mobilePage #agency .u-margin-bottom-x-small {
	margin-bottom: var(--size-x-small);
}

.mobilePage #agency .u-margin-bottom-small {
	margin-bottom: var(--size-small);
}

.mobilePage #agency .u-margin-bottom-large {
	margin-bottom: 30px;
}

.mobilePage #agency .u-margin-bottom-x-large {
	margin-bottom: 48px;
}

.mobilePage #agency .u-margin-top-small {
	margin-top: var(--size-small);
}

.mobilePage #agency .u-margin-top-large {
	margin-top: 30px;
}

.mobilePage #agency .u-mobile-x-scroll {
	overflow-x: scroll;
}

/* ------- PAGE SPECIFIC ------- */

/* ------- HELP PAGES ------- */

#agency .help-content {
	flex-grow: 1;
}

#agency .help-header {
	background-color: var(--color-primary-dark);
	justify-content: flex-start;
	padding: var(--size-small);
}

.mobilePage #agency .help-content {
	width: 100%;
}

/* ------- ABOUT HOMEOFFICE ------- */

