<!-- 2019-paper-search -->
<link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet">
<div id="agency">
	<header class="header grid">
		<!-- M1 h1 960x300 -->
		$%M1%$
	</header>
	<section class="grid section">
		<!-- M2 third-width mod 310x300 -->
		$%M2%$
		<!-- M3 third-width mod 310x300 -->
		$%M3%$
		<!-- M4 third-width mod 310x300 -->
		$%M4%$
		<!-- M5 h2 960x300 -->
		$%M5%$
		<!-- M6 quarter-width mod 225x300 -->
		$%M6%$
		<!-- M7 quarter-width mod 225x300 -->
		$%M7%$
		<!-- M8 quarter-width mod 225x300 -->
		$%M8%$
		<!-- M9 quarter-width mod 225x300 -->
		$%M9%$
		<!-- M10 quarter-width mod 225x300 -->
		$%M10%$
		<!-- M11 quarter-width mod 225x300 -->
		$%M11%$
	</section>
	<footer class="footer grid">
		<!-- M12 contact 960x40 -->
		$%M12%$
		<!-- M13 seo html 960x300 -->
		$%M13%$
	</footer>
</div>
<!-- M14 script 100x100 -->
$%M14%$

<!-- 2019-paper-search --><link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet"><div id="agency"><header class="header grid">$%M1%$</header><section class="grid section">$%M2%$ $%M3%$ $%M4%$ $%M5%$ $%M6%$ $%M7%$ $%M8%$ $%M9%$ $%M10%$ $%M11%$</section><footer class="footer grid">$%M12%$ $%M13%$</footer></div>$%M14%$