<!-- 2019-qppointsblue-2 -->
<link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet">
<div id="agency">
	<header class="header grid">
		<!-- M1 H1/Banner 960x300 -->
		$%M1%$
		<!-- M2 H2 960x300 -->
		$%M2%$
	</header>
	<section class="grid section">
		<!-- M3 Quarter Mod 225x300 -->
		$%M3%$
		<!-- M4 Quarter Mod 225x300 -->
		$%M4%$
		<!-- M5 Quarter Mod 225x300 -->
		$%M5%$
		<!-- M6 Quarter Mod 225x300 -->
		$%M6%$
		<!-- M7 Banner 960x300 -->
		$%M7%$
		<!-- M8 Banner 960x300 -->
		$%M8%$
		<!-- M9 H2 960x300 -->
		$%M9%$
		<!-- M10 Banner/Table 960x300 -->
		$%M10%$
		<!-- M11 Third Mod 310x300 -->
		$%M11%$
		<!-- M12 Third Mod 310x300 -->
		$%M12%$
		<!-- M13 Third Mod 310x300 -->
		$%M13%$
		<!-- M14 Banner 960x300 -->
		$%M14%$
		<!-- M15 Disclaimer 960x300 -->
		$%M15%$
	</section>
	<footer class="footer grid">
		<!-- M16 Contact 960x40 -->
		$%M16%$
		<!-- M17 SEO HTML 960x300 -->
		$%M17%$
	</footer>
</div>
<!-- M18 Scripts 100x100 -->
$%M18%$

<!-- 2019-qppointsblue-2 --><link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet"><div id="agency"><header class="grid header">$%M1%$ $%M2%$</header><section class="grid section">$%M3%$ $%M4%$ $%M5%$ $%M6%$ $%M7%$ $%M8%$ $%M9%$ $%M10%$ $%M11%$ $%M12%$ $%M13%$ $%M14%$ $%M15%$</section><footer class="grid footer">$%M16%$ $%M17%$</footer></div>$%M18%$