<!-- 2019-qppointsblue -->
<link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet">
<div id="agency">
	<header class="header grid">
		<!-- M1 h1 960x300 -->
		$%M1%$
		<!-- M2 banner/h2 960x300 -->
		$%M2%$
	</header>
	<section class="grid section">
		<!-- M3 h2/table 960x300 -->
		$%M3%$
		<!-- M4 third-width mod 310x300 -->
		$%M4%$
		<!-- M5 third-width mod 310x300 -->
		$%M5%$
		<!-- M6 third-width mod 310x300 -->
		$%M6%$
		<!-- M7 h2/disclaimer 960x300 -->
		$%M7%$
		<!-- M8 third-width mod 310x300 -->
		$%M8%$
		<!-- M9 third-width mod 310x300 -->
		$%M9%$
		<!-- M10 third-width mod 310x300 -->
		$%M10%$
		<!-- M11 banner 960x300 -->
		$%M11%$
		<!-- M12 disclaimer 960x300 -->
		$%M12%$
	</section>
	<footer class="footer grid">
		<!-- M13 contact 960x40 -->
		$%M13%$
		<!-- M14 seo html 960x300 -->
		$%M14%$
	</footer>
</div>
<!-- M15 script 100x100 -->
$%M15%$


<!-- 2019-qppointsblue --><link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet"><div id="agency"><header class="header grid">$%M1%$ $%M2%$</header><section class="grid section">$%M3%$ $%M4%$ $%M5%$ $%M6%$ $%M7%$ $%M8%$ $%M9%$ $%M10%$ $%M11%$ $%M12%$</section><footer class="footer grid">$%M13%$ $%M14%$</footer></div>$%M15%$