<!-- 2019-papermodtest -->
<link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet">
<div id="agency">
	<section class="grid section">
		<!-- M1 paper mod 470x300 -->
		$%M1%$
		<!-- M2 paper mod 470x300 -->
		$%M2%$
		<!-- M3 label 470x300 -->
		$%M3%$
		<!-- M4 label 470x300 -->
		$%M4%$
		<!-- M5 paper mod 470x300 -->
		$%M5%$
		<!-- M6 paper mod 470x300 -->
		$%M6%$
		<!-- M7 label 470x300 -->
		$%M7%$
		<!-- M8 label 470x300 -->
		$%M8%$
		<!-- M9 paper mod 470x300 -->
		$%M9%$
		<!-- M10 paper mod 470x300 -->
		$%M10%$
		<!-- M11 label 470x300 -->
		$%M11%$
		<!-- M12 label 470x300 -->
		$%M12%$
		<!-- M13 paper mod 470x300 -->
		$%M13%$
		<!-- M14 paper mod 470x300 -->
		$%M14%$
		<!-- M15 label 470x300 -->
		$%M15%$
		<!-- M16 label 470x300 -->
		$%M16%$
		<!-- M17 paper mod 470x300 -->
		$%M17%$
		<!-- M18 paper mod 470x300 -->
		$%M18%$
		<!-- M19 label 470x300 -->
		$%M19%$
		<!-- M20 label 470x300 -->
		$%M20%$
		<!-- M21 paper mod 470x300 -->
		$%M21%$
		<!-- M22 paper mod 470x300 -->
		$%M22%$
		<!-- M23 label 470x300 -->
		$%M23%$
		<!-- M24 label 470x300 -->
		$%M24%$
		<!-- M25 paper mod 470x300 -->
		$%M25%$
		<!-- M26 paper mod 470x300 -->
		$%M26%$
		<!-- M27 label 470x300 -->
		$%M27%$
		<!-- M28 label 470x300 -->
		$%M28%$
		<!-- M29 paper mod 470x300 -->
		$%M29%$
		<!-- M30 paper mod 470x300 -->
		$%M30%$
		<!-- M31 label 470x300 -->
		$%M31%$
		<!-- M32 label 470x300 -->
		$%M32%$
	</section>
</div>

<!-- 2019-papermodtest --><link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet"><div id="agency"><section class="grid section">$%M1%$ $%M2%$ $%M3%$ $%M4%$ $%M5%$ $%M6%$ $%M7%$ $%M8%$ $%M9%$ $%M10%$ $%M11%$ $%M12%$ $%M13%$ $%M14%$ $%M15%$ $%M16%$ $%M17%$ $%M18%$ $%M19%$ $%M20%$ $%M21%$ $%M22%$ $%M23%$ $%M24%$ $%M25%$ $%M26%$ $%M27%$ $%M28%$ $%M29%$ $%M30%$ $%M31%$ $%M32%$</section></div>