<!-- 2019-moduletest -->
<link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet">
<div id="agency">
	<section class="grid section">
		<!-- M1 960x300 -->
		$%M1%$
		<!-- M2 470x300 -->
		$%M2%$
		<!-- M3 470x300 -->
		$%M3%$
		<!-- M4 310x300 -->
		$%M4%$
		<!-- M5 310x300 -->
		$%M5%$
		<!-- M6 310x300 -->
		$%M6%$
		<!-- M7 225x300 -->
		$%M7%$
		<!-- M8 225x300 -->
		$%M8%$
		<!-- M9 225x300 -->
		$%M9%$
		<!-- M10 225x300 -->
		$%M10%$
		<!-- M11 225x300 card -->
		$%M11%$
		<!-- M12 225x300 card -->
		$%M12%$
		<!-- M13 225x300 card -->
		$%M13%$
		<!-- M14 225x300 card -->
		$%M14%$
		<!-- M15 225x300 card -->
		$%M15%$
		<!-- M16 225x300 card -->
		$%M16%$
	</section>
</div>
<!-- M17 100x100 -->
$%M17%$

<!-- 2019-moduletest --><link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet"><div id="agency"><section class="grid section">$%M1%$ $%M2%$ $%M3%$ $%M4%$ $%M5%$ $%M6%$ $%M7%$ $%M8%$ $%M9%$ $%M10%$ $%M11%$ $%M12%$ $%M13%$ $%M14%$ $%M15%$ $%M16%$</section></div>$%M17%$