#agency {

	.card {

		&, &--border, &--horizontal, &--promo {
			position: relative;
		}

		&__body {
			display: inline-block;
		}
		
		&__button {
			bottom: 0;
			position: absolute;
		}

		&--border {
			border: 1px solid #e4e4e4;
			padding: $pct;
		}
			
		&--horizontal {
			align-items: center;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;

			&__body, &__img {
				display: inline-block;
			}
		}

		&--promo {
			padding-bottom: 32px;
		}
	}
}