#agency {

	.disclaimer {

		
		&--ol {

			&__li {
				list-style-position: inside;
				list-style-type: decimal;
			}
		}

		&--ol, &--ul {
			padding-bottom: 0;

			&__li {
				background-image: none;
				color: $gray;
				padding: 0;

				@media #{$tabLandMax} {
					font-size: $px * 1.1;
				}
				
				@media #{$laptopMin} and #{$laptopMax} {
					font-size: $vw * 1.4;
				}

				@media #{$desktopMin} {
					font-size: $px * 1.4;
				}
			}
		}

		&--ul {
			padding-left: 0;

			&__li {
				list-style-type: none;
			}
		}
	}
}