#agency,
.agency {
	
	.div {

		&--qpBenefits {
			padding-bottom: 40%;
		}

		&--qpPoints {
		    display: inline-block;
		}

		&--qpPoints,
		&--qpPointsPaper {
		    vertical-align: middle;
		    width: $pct * 100;

			@media #{$tabPortMin} {
		    	width: $pct * 50;
		    }
		}

		&--qpPointsPaper {
			display: none;

			@media #{$tabPortMin} {
		    	display: inline-block;
		    }
		}
	}

	.h2 {

		&--qpPoints {
			font-size: $vw * 2.75;
    		font-weight: 400;

    		& .plp-tier-price-wrap {
				font-size: $vw * 2.75;
				
				& .plp-price {
					color: $darkGray;
					font-weight: 400;
				}
    		}
		}
	}
	
	.h2,
	.h3,
	.h4 {

		&--qpBenefits,
		&--qpPoints,
		&--qpReward {
			line-height: 1.25em;
		}

		&--qpBonus,
		&--qpBenefits,
		&--qpJoin,
		&--qpPoints,
		&--qpReward {
		    align-items: baseline;
			position: relative;
		}
	}

	.h2,
	.h3,
	.h4,
	.p,
	.td,
	.th {

		&--qpBonus,
		&--qpBenefits,
		&--qpJoin,
		&--qpPoints,
		&--qpPointsPaper,
		&--qpReward {
		    font-family: #{$fontFamily};
		}

		&--qpReward {
		    left: 0;
		    line-height: 1em;
			position: absolute;
		    text-align: center;
		    width: 100%;	
		}
	}

	.h3 {

		&--qpBonus {
			font-weight: 300;
			line-height: 1em;

			@media #{$tabLandMax} {
				font-size: $vw * 4;
    		}
    		
    		@media #{$laptopMin} {
    			font-size: $vw * 3.25;
    		}
		}

		&--qpBenefits {
		    color: $darkGray;
		    font-weight: 400;
		    line-height: 1.25em;

		    @media #{$mobPortMax} {
		    	font-size: $px * 1.4;
		    }

		    @media #{$mobLandMin} and #{$mobLandMax} {
		    	font-size: $px * 1.4;
		    }

		    @media #{$tabPortMin} and #{$tabPortMax} {
		    	font-size: $px * 1.4;
		    }

		    @media #{$tabLandMin} and #{$tabLandMax} {
		    	font-size: $px * 1.4;
		    }

		    @media #{$laptopMin} and #{$laptopMax} {
		    	font-size: $px * 1.4;
		    }

		    @media #{$desktopMin} {
		    	font-size: $px * 1.4;
		    }
		}

		&--qpJoin {
            font-size: $vw * 6;

            @media #{$mobLandMin} and #{$mobLandMax} {
		    	font-size: $px * 2.8;
		    }
			
			@media #{$tabPortMin} and #{$tabPortMax} {
            	font-size: $vw * 3.55;
		    }

           	@media #{$tabLandMin} {
            	font-size: $px * 3.6;
            }
            
            .plp-price{
                color: #797979;
                font-weight: 400;
            }
        }

		&--qpPoints {
            font-size: $vw * 1.75;
            font-weight: 400;
            line-height: 1.25em;
            
            @media #{$tabPortMin} and #{$tabLandMax} {
		    	font-size: $vw * 2;
		    }
            
            @media #{$mobLandMax} {
		    	font-size: $vw * 4;
		    }
        }
	}

	.h3,
	.h4,
	.p {
		
		&--qpBenefits {}

        &--qpJoin {
            display: inline-block;
        }

		&--qpPoints {}

		&--qpReward {
		    left: 0;
		    line-height: 1em;
			position: absolute;
		    text-align: center;
		    width: 100%;	
		}
	}

	.h4 {

		&--qpBonus {
		    color: $darkGray;
		    font-size: $vw * 1;
		    font-weight: 400;
		}

		&--qpBenefits {}

		&--qpJoin {             
            color: #797979;
            
            @media #{$mobPortMax} {
				font-size: $vw * 5;
			}

			@media #{$mobLandMin} and #{$mobLandMax} {
				font-size: $vw * 5;
			}

			@media #{$tabPortMin} and #{$tabPortMax} {
				font-size: $vw * 4;
			}

			@media #{$tabLandMin} and #{$tabLandMax} {
				font-size: $vw * 4;
			}

			@media #{$laptopMin} and #{$laptopMax} {
				font-size: $vw * 4;
			}

			@media #{$desktopMin} {
				font-size: $vw * 4;
			}
        }

        &--qpPoints {
    		font-size: $vw * 1.5;
			font-weight: 400;
			line-height: 1em;
    		padding: 0;
        }

		&--qpReward {
		    font-weight: 400;
		    top: 0;
			
			@media #{$mobPortMax} {
				font-size: $px * 2.6;
			}

			@media #{$mobLandMin} and #{$mobLandMax} {
				font-size: $px * 2.6;
			}

			@media #{$tabPortMin} and #{$tabPortMax} {
				font-size: $px * 2.6;
			}

			@media #{$tabLandMin} and #{$tabLandMax} {
				font-size: $px * 2.6;
			}

			@media #{$laptopMin} and #{$laptopMax} {
				font-size: $px * 2.6;
			}

			@media #{$desktopMin} {
				font-size: $px * 2.6;
			}
		}
	}

	.img {

		&--qpPaper {
			display: block;
			width: $pct * 100;
		}

		&--qpPoints {
			display: inline-block;
			margin-right: $pct * 2;
		    position: relative;
			width: $pct * 15;
		}
	}

	.p {

		&--qpBenefits {
    		font-weight: 400;
    		line-height: 1em;

    		@media #{$tabLandMax} {
    			font-size: $vw * 1.85;
    		}

    		@media #{$laptopMin} {
    			font-size: $vw * 1.5;
    		}
		}

		&--qpBonus {
    		font-weight: 400;
    		line-height: 1.25em;

    		@media #{$tabLandMax} {
				font-size: $vw * 1.175;
    		}

    		@media #{$laptopMin} {
    			font-size: $vw * 1;
    		}
		}

		&--qpPoints {
			font-size: $vw * 1.25;
			line-height: 1em;
		}

		&--qpReward {
		    bottom: 0;

		    @media #{$mobPortMax} {
		    	font-size: $px * 2;
		    }

		    @media #{$mobLandMin} and #{$mobLandMax} {
		    	font-size: $px * 2;
		    }

		    @media #{$tabPortMin} and #{$tabPortMax} {
		    	font-size: $px * 2;
		    }

		    @media #{$tabLandMin} and #{$tabLandMax} {
		    	font-size: $px * 2;
		    }

		    @media #{$laptopMin} and #{$laptopMax} {
		    	font-size: $px * 2;
		    }

		    @media #{$desktopMin} {
		    	font-size: $px * 2;
		    }
		}
	}
        
    .qpSprite {
		background-image: url('/content/iw/adv/2018/04/295/sprite_quillplus.png');
		background-repeat: no-repeat;
		display: inline-block;
		height: $px * 5;
		overflow: hidden;
		width: $px * 7.2;
	}
    
    .span{

    	&--qpBonus {

		    @media #{$tabLandMax} {
		    	font-size: $vw * 1;
		    }

		    @media #{$laptopMin} {
		    	display: block;
		    	font-size: $vw * 1.5;
		    }
		}

    	&--qpBenefits {
    		display: block;
    		font-size: $px * 1.6;
    	}

        &--qpJoin{
            color: #797979;
            display: inline-block;
	    	font-size: $px * 1.6;
            font-weight: 400;
            line-height: 1.25em;
            vertical-align: middle;
            
		    @media #{$mobLandMin} and #{$mobLandMax} {
		    	font-size: $px * 1.6;
		    }

		    @media #{$tabPortMin} and #{$tabPortMax} {
		    	font-size: $px * 1.6;
		    }

		    @media #{$tabLandMin} and #{$tabLandMax} {
		    	font-size: $px * 2;
		    }

		    @media #{$laptopMin} and #{$laptopMax} {
		    	font-size: $px * 2;
		    }

		    @media #{$desktopMin} {
		    	font-size: $px * 2;
		    }
            
        }

        &--qpPoints {
        	display: block;
    		font-size: $vw * 1.0125;
			line-height: 1.25em;
    	}
    }

	.strong {

		&--qpBonus {
			display: block;
    		font-weight: 700;

    		@media #{$tabLandMax} {
				font-size: $vw * 3;
		    }

		    @media #{$laptopMin} {
		    	font-size: $vw * 2.75;
		    }
		}

		&--qpBenefits {
			color: #0077c5;
		    display: block;
		    line-height: 1em;
		    font-size: $px * 3.6;
		}

		&--qpPoints {
			display: block;
		    font-size: $vw * 4.5;
		    font-weight: 700;
		    line-height: 1em;
            
            @media #{$mobLandMax}{
                font-size: $vw * 11;
            }
            
            @media #{tabPortMin} and #{$tabLandMax}{
                font-size: $vw * 5;
            }
		}
	}

	.table {

		&--qpJoin > tbody > tr:nth-of-type(odd) {
			background-color: #f7f9f8;
		}

		&--qpPoints {
			// border-collapse: collapse;
			border-spacing: $vw * .5 0;
			display: table;
			table-layout: fixed;
			width: 100%;

			& tr:nth-of-type(even) {
				& .td--qpPoints {
					background-color: #efefef;

					&:nth-of-type(even) {
						background-color: #d8e9f6;
					}
				}
			}

			& tr:nth-of-type(odd) {
				& .td--qpPoints {
					background-color: #fafafa;
				
					&:nth-of-type(even) {
						background-color: #f2f8fc;
					}
				}
			}
		}
	}

	.td,
	.th {

        &--qpJoin{
            font-size: $vw * 1.3;
        }

        &--qpPaper {
        	background-color: #0072c6;
        	color: #fd0;
        	font-weight: 500;
        }
		
		&--qpPoints {
			font-weight: 300;
			text-align: center;
			vertical-align: middle;

			&:first-of-type {
				text-align: left;
			}

			&__span {
				font-size: $vw * 8;
				line-height: $em * .8;

				@media #{$mobLandMin} {
					font-size: 32px;
				}

				&--sub {
					font-size: .625em;
				}
			}

			& .plp-price {
			    font-size: $px * 2.4;
			    font-weight: 300;
			}

			&Paper {
				align-items: center;
				display: flex;
				font-weight: 300;
				justify-content: center;
			}

			.button--standard {

				@media (min-width: 0) and #{$mobLandMax} {
					min-width: $pct * 82;
				}
			}
		}

		&--qpPaper,
		&--qpPoints {
			font-size: $vw * 5;
			padding-bottom: $pct * 1;
			padding-left: $pct * 2;
			padding-right: $pct * 2;
			padding-top: $pct * 1;

			@media #{$mobLandMin} {
				font-size: $px * 2.4;
			}
		}
	}

	.th {

		&--horizontal {

			.plp-tier-price-wrap {
			    color: inherit;
			    font-size: inherit;

			    .plp-price {
			    	font-weight: inherit;
			    }
			}
		}

		&--qpPoints {
			color: $white;
			text-align: center;

			& .button--standard {
				margin: 0 auto;
				max-width: $px * 16;
			}
		}
	}    
    
    .tr {
		
		&--qpJoin {
			display: table-row;

			& > td:nth-child(1) {
        		text-align: center;
			}
		}

    }

    .span {

    	&--qpPaper {

    		@media #{$tabPortMin} and #{$tabLandMax} {
				font-size: $vw * 3.25;
    		}

    		@media #{$laptopMin} {
    			font-size: $em * 1.75;
    		}
    	}
    }

    .ul {

    	&--qpPoints {
		    font-size: 0;
    		list-style: none;
		    padding: 0;
    	}
    }

    .li {

    	&--qpPoints {
    		padding: 0;
    	}
    }
    
}