<!-- 2017-gift-cards -->
<link rel="stylesheet" href="//www.quill.com/content/iw/styles/mod.min.css">
<div id="mod" class="nonAdaptive">
	<!-- M1 h1 (960x40) -->
	$%M1%$
	<!-- M2 nav (960x30) -->
	$%M2%$
	<!-- M3 breadcrumbs (960x30) -->
	$%M3%$
	<!-- M4 banner (960x300) -->
	$%M4%$
	<!-- M5 featured categories (960x150) -->
	$%M5%$
	<!-- M6 jump to links (960x30) -->
	$%M6%$
	<!-- M7 custom list (960x300) -->
	$%M7%$
	<!-- M8 custom list (960x300) -->
	$%M8%$
	<!-- M9 custom list (960x300) -->
	$%M9%$
	<!-- M10 custom list (960x300) -->
	$%M10%$
	<!-- M11 custom list (960x300) -->
	$%M11%$
</div>
<script src="//www.quill.com/content/iw/scripts/mod.min.js"></script>

<!-- 2017-gift-cards --><link rel="stylesheet" href="//www.quill.com/content/iw/styles/mod.min.css"><div id="mod" class="nonAdaptive"> $%M1%$ $%M2%$ $%M3%$ $%M4%$ $%M5%$ $%M6%$ $%M7%$ $%M8%$ $%M9%$ $%M10%$ $%M11%$ </div><script src="//www.quill.com/content/iw/scripts/mod.min.js"></script>