#agency {
	line-height: 1;

    a,
    abbr,
    acronym,
    address,
    applet,
    article,
    aside,
    audio,
    b,
    big,
    blockquote,
    body,
    canvas,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    details,
    dfn,
    dialog,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    font,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    hr,
    html,
    i,
    iframe,
    ins,
    kbd,
    label,
    legend,
    li,
    main,
    mark,
    menu,
    meter,
    nav,
    object,
    ol,
    output,
    p,
    pre,
    progress,
    q,
    rp,
    rt,
    ruby,
    s,
    samp,
    section,
    small,
    span,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    video,
    xmp  {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        // outline: none;
        vertical-align: top;
    }
    
    article, 
    aside, 
    details, 
    figcaption, 
    figure, 
    footer, 
    header, 
    hgroup, 
    menu, 
    nav, 
    section {
    	display: block;
    }

    b,
    strong {
    	font-weight: bold;
    }

    blockquote, 
    q {
    	quotes: none;
    }

    blockquote:after, 
    blockquote:before, 
    q:after,
    q:before { 
    	content: '';
    	content: none;
    }

    ol, 
    ul {
    	list-style: none;
    }

    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }

    th,
    td,
    caption {
        font-weight: normal;
        vertical-align: top;
        text-align: left;
    }

    img {
        color: transparent;
        font-size: 0;
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
    }

    li {
        display: list-item;
    }

    small,
    sub,
    sup {
        font-size: .6em;
    }

    sub,
    sup {
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        line-height: 1em;
        vertical-align: .6em;
    }

    svg {
        overflow: hidden;
    }
}