#agency {
	
	.blockquote {
		border-left: $px * .5 solid #0072c6;
		display: flex;
		flex-direction: column;
		margin-top: 0;

		@media #{$laptopMax} {
			margin-left: $pct * 4;
			padding-left: $pct * 1.5;
		}		

		@media #{$desktopMin} {
			margin-left: $px * 4;
			padding-left: $px * 1.5;
		}

		&__h3 {
			font-size: $px * 2;
			line-height: 1.125em;
			margin-bottom: 0;
			order: 99;

			@media #{$tabLandMax} {
				font-size: $px * 1.6;
			}

			@media #{$laptopMin} and #{$laptopMax} {
				font-size: $vw * 2;
			}

			@media #{$desktopMin} {
				font-size: $px * 2;
			}
		}
		
		&__h3, &__p {
			color: #333;
			font-family: #{$fontFamily};
			font-stretch: normal; 
			font-style: normal;
			font-variant: normal;
			font-weight: 300;
			margin-top: 0;
		}

		&__p {
			line-height: 1.75em;
			padding-bottom: 0;

			@media #{$tabLandMax} {
				font-size: $px * 1.8;
			}

			@media #{$laptopMin} and #{$laptopMax} {
				font-size: $vw * 2.4;
			}

			@media #{$desktopMin} {
				font-size: $px * 2.4;
			}
		}			 
	}
}