#agency, .agency {

	.grid__unit, &.grid__unit {

		&--25 {

			.icc {
				bottom: $pct * 2;
				left: 0;
				max-width: 100%;
				padding-left: $pct * 5;
			    padding-right: $pct * 5;
				width: 100%;
			}
		}
	}

	.icc, &.icc {
		box-sizing: border-box;
		color: #000;
		max-width: $px * 22.5;
		overflow: hidden;
		position: absolute;
		text-align: left;
		z-index: 1;

		&__a {
			color: #000;
			text-decoration: none;

			&:hover, &:active {
				color: #f69036;
				text-decoration: underline;
			}
		}

		&__p {
			background-color: #ccc;
			color: #000;
			font-family: #{$fontFamily};
			font-size: $px * 1.2;
			line-height: 1.125em;
			padding: $px * .5;
			text-align: center;
			
			&--conditions {
				font-size: $px * 1.1;
				line-height: 1.125em;
				margin: 0;
				// padding: 0 !important;

				@media #{$mobLandMin} {
					font-size: $px * 1.0;
				}
			}

			&--details {
				font-size: $px * 1.2;
				line-height: 1.34em;
			}
			
			&--strong {
				color: #000; 
				font-size: $px * 1.6;
				font-weight: 800;
				line-height: 1.125em;
			}
		}
	}
	/* see sds.scss for css that modifies sds-managed elements */
}