#agency {

	.nav {
	
		&--breadcrumb {
			margin-top: 0;
			padding: 0;
			
			&__item {
				background: none;
				display: inline-block;
				font-family: #{$fontFamily};
				font-size: $px * 1.2;
				line-height: 1.5em;
				padding: 0;
			}
		}

		&--drop {
			background-color: #fff;
			border-bottom: $px * 0.1 solid #eee;
			border-left: $px * 0.1 solid #eee;
			border-right: $px * 0.1 solid #eee;
			display: none;
			left: 0;
			padding: $px $px $px * 1.2;
			position: absolute;
			top: $px * 4.0;
			white-space: nowrap;
			width: auto;
			z-index: 1;
			
			&__a {
				color: #333;

				&:hover {
					color: #e87722;
				}
			}

			&__a, &__span {
				display: block;
				height: $px * 1.5;
				width: auto;
			}

			&__item {
				background: none;
				list-style: none;
				padding-bottom: 0;
				padding-left: 0;
				padding-right: 0;
				padding-top: 0;
				white-space: nowrap;
				width: auto;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			&__span {
				color: #0079c1;
			}
		}

		&--jumpto {
			font-size: 0;
			padding: 0;

			&__item {
				background: none;
				font-family: #{$fontFamily};
				margin-bottom: .25em;
				margin-top: .25em;
				padding-bottom: 0;
				padding-top: 0;

				&:first-of-type {

					@media #{$laptopMin} {	// > mobile
						padding-left: 0;
					}
				}

				&:first-of-type, &:nth-of-type(2) {

					@media #{$laptopMin} {	// > mobile	
						border-left: none;
						margin-left: 0;
					}
				}

				@media #{$laptopMin} {	// > mobile
					border-left: $px * 0.1 solid #999;
					display: inline-block;
					font-size: $px * 1.4;
					margin-left: $px * 1.5;
					padding-left: $px * 1.5;
				}
				
				@media #{$mobPortMax} {	// mobile
				}
			}
		}

		&--tabs {
			background-color: #eee;
		    height: auto;
			padding-bottom: 0;
			padding-left: 0;
		    width: 100%;
			
			&__a, &__a--first {
				color: #333;

				&:hover {
					color: #e87722;
				}
			}

			&__a, &__a--first, &__span, &__span--first {
				display: block;
				height: $px * 1.8;
				padding-left: $px * 1.5;
				width: auto;
			}

			&__a, &__span {
				border-left: $px * 0.1 solid #333;
			}

			&__img {
				
				@media #{$tabPortMin} {
					display: none;
				}
			}

			&__item {
				background: none;
				display: inline-block;
				font-size: $px * 1.5;
				font-weight: 500;
				height: $px * 2.0;
				line-height: $px * 2.0;
				list-style: none;
				margin: 0;
				padding-bottom: $px * 1.0;
				padding-left: 0;
				padding-right: $px * 1.5;
				padding-top: $px * 1.0;
				position: relative;
				vertical-align: top;

			}

			&__span, &__span--first {
				color: #0079c1;
			}
		}
	}
}