#agency, .agency {

	p, h3 {
		padding-bottom:0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}

	// .full > .carousel {
	//     margin-top: 60px;
	// }

	// .full > .carousel-title + .carousel {
	// 	margin-top: 0;
	// }

	// .carouselNew {

	// 	.item_ph {
	// 		padding-left: 19.995px;
	// 		width: 220px;

	// 		&.item_1 {
	// 			padding-left: 0;
	// 		}
	// 	}
	// }
}

.adaptivePage #recentlyViewedFooter {
    margin: 0 auto;
}

.carouselPh {
	overflow: hidden;
}

.coolTipContInner .reg {
	font-size: .5em;
	vertical-align: .8em;
}

// .width--1500 #exclusive1{width:990px;}
// .res1280 .adaptivePage .width--1500 #exclusive1{width:1205px;}
// .res1450 .adaptivePage .width--1500 #exclusive1{width:1450px;}