#agency, .agency {

	.btn-clip-coupon {
        margin-bottom: 0;
    }

	.btn-clip-coupon, .coupon_code, .shopNow-btn {
		min-width: $px * 15;
	}
    
    .btn-clip-coupon, .coupon_code, .coupon_code b, .shopNow-btn {

		@media (min-width: 0) and #{$mobPortMax} {
        	font-size: $vw * 3.5;
        }
    }

    .carousel-title {
		font-family: #{$fontFamily};
		font-weight: 300;
		padding-bottom: 0;

		@media #{$tabLandMax} {
			font-size: $px * 2.8 !important;
		}

		@media #{$laptopMin} and #{$laptopMax} {
			font-size: $vw * 2.4 !important;
		}
		
		@media #{$desktopMin} {
			font-size: $px * 3.6 !important;
		}

		@media #{$mobLandMax} {
			margin-bottom: $pct * 2 !important;
		}
		
		@media #{$tabPortMin} {
			margin-bottom: $px * 2 !important;
		}
	}
    
	.unclip-coupon {

		@media (min-width: 0) and #{$mobPortMax} {
        	font-size: $vw * 2.75;
        }
	}

	p, h3 {
		padding-bottom:0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
}

.adaptivePage #recentlyViewedFooter {
    margin: 0 auto;
}

// fixes NBSS banner grid issues
.bundlesList {
	align-items: stretch;
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 0;
	
	.grid__unit--100 {
		align-self: flex-start;
		background-image: none;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		padding-bottom: 0;
		padding-top: 0;
		position: relative;
		width: $column * 12;
		
		@media #{$mobPortMax} {
			padding-left: $pct * 1;
			padding-right: $pct * 1;
		}

		@media #{$mobLandMin} and #{$tabPortMax} {
			padding-left: $pct * 1.5;
			padding-right: $pct * 1.5;
		}

		@media #{$tabLandMin} and #{$tabLandMax} {
		    padding-left: $pct * 1.25;
			padding-right: $pct * 1.25;
		}

		@media #{$laptopMin} and #{$laptopMax} {
		    padding-left: $pct * 1;
			padding-right: $pct * 1;
		}

		@media #{$desktopMin} {
		    padding-left: $pct * .75;
			padding-right: $pct * .75;
		}
	}

	.webModImg--100 {
		align-self: flex-end;
		flex-shrink: 0;
		position: relative;
		width: $pct * 159.325;

		@media #{$mobLandMin} and #{$mobLandMax} {
			width: $pct * 131.4;
		}

		@media #{$tabPortMin} and #{$tabPortMax} {
			width: $pct * 100;
		}

		@media #{$tabLandMin} and #{$tabLandMax} {
			width: $pct * 149;
		}

		@media #{$laptopMin} and #{$laptopMax} {
			width: $pct * 119;
		}

		@media #{$desktopMin} {
			width: $pct * 100;
		}
	}

	.webModInner {
		box-sizing: border-box;
		// display: flex;
		height: 100%;
		overflow: hidden;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		position: relative;
		width: $pct * 100;

		@media #{$mobLandMax} {
			margin-bottom: $vw * 5;
		}
		
		@media #{$tabPortMin} {
			margin-bottom: $px * 2;
		}

		.a {
			width: $pct * 100;
		}
	}

	.webModPicture {
		display: flex;
	}
}

.carouselPh {
	overflow: hidden;
}

.coolTipContInner .reg {
	font-size: .5em;
	vertical-align: .8em;
}

.qp-bonus-pop-view .img {
	
	@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	   width: auto;  
	}
}

.rewardsCenter .offerCodeSection {
	overflow: hidden;
}