#agency, .agency {

	.btn-clip-coupon {
        margin-bottom: 0;
    }

	.btn-clip-coupon, .coupon_code, .shopNow-btn {
		min-width: $px * 15;
	}
    
    .btn-clip-coupon, .coupon_code, .coupon_code b, .shopNow-btn {

		@media (min-width: 0) and #{$mobPortMax} {
        	font-size: $vw * 3.5;
        }
    }
    
	.unclip-coupon {

		@media (min-width: 0) and #{$mobPortMax} {
        	font-size: $vw * 2.75;
        }
	}

	p, h3 {
		padding-bottom:0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
}

.adaptivePage #recentlyViewedFooter {
    margin: 0 auto;
}

.carouselPh {
	overflow: hidden;
}

.coolTipContInner .reg {
	font-size: .5em;
	vertical-align: .8em;
}