<style type="text/css">
    #bulkCenter { margin: 0 auto; width: 960px; }
    #bulkCenter { margin-bottom: 20px; }
    #bulkCenter #m3 { border-bottom: 1px solid #d7d7d7; }
    #bulkCenter #m4-16 { font-size: 0; margin-bottom: 40px; }
    #bulkCenter .half:nth-of-type(even) { border-left: none; width: 419px;}
</style>
<div id="bulkCenter">
    <!-- header 960x40 -->
    <div id="m1">$%M1%$</div> 
    <!-- drop down navigation 960x30 -->
    <div id="m2">$%M2%$</div>
    <!-- banner 960x300 -->
    <div id="m3">$%M3%$</div>
    <!--  mods 470x300 x 12 & 960x300  -->
    <div id="m4-16">
        $%M4%$ $%M5%$
        $%M6%$ $%M7%$
        $%M8%$ $%M9%$
        $%M10%$ $%M11%$
        $%M12%$ $%M13%$
        $%M14%$ $%M15%$
        $%M16%$
    </div>
    <!--  closing paragraph 960x85  -->
    <div id="m17">$%M17%$</div>
    <!-- contact footer 960x40 -->
    $%M18%$
</div>