<style type="text/css">
@font-face {font-family:'45HelveticaNeueLight';src:url('/content/iw/fonts/helvetica-neue/hll-webfont.eot');src:local('x'),url('/content/iw/fonts/helvetica-neue/hll-webfont.woff') format('woff'), url('/content/iw/fonts/helvetica-neue/hll-webfont.ttf') format('truetype'),url('/content/iw/fonts/helvetica-neue/hll-webfont.svg#webfont2uRkJLxm') format('svg');}
div.crc, div.crc h3, div.crc p, div.crc ul, div.crc li, div.crc div {position:relative;margin:0;background:none;padding:0;font-family:'45HelveticaNeueLight',helvetica,arial,sans-serif;}
div.crc {background-color:#eee;padding:30px 35px;}
div.crc div.crc-cnt{width: 960px;margin:auto;}
div.crc h3 {width:345px;font-size:32px;line-height:32px;margin-bottom:10px;}
div.crc ul {width:345px;list-style:none;}
div.crc p {margin-top:32px;}
div.crc p, div.crc ul.articles li, div.crc ul.thumbnails p {font-size:16px;}
div.crc p, div.crc ul.articles li {line-height:20px;margin-bottom:12px;}
div.crc ul.articles li a, div.crc p.viewAll a {background:none;}
div.crc ul.thumbnails li {width:150px;margin-left:30px;}
div.crc ul.thumbnails li:first-child {margin-left:0;}
div.crc ul.thumbnails {position: absolute;right:35px;top:0px;width:530px;}
div.crc ul.thumbnails li {display:inline-block;vertical-align:top;}
div.crc ul.thumbnails p {margin-top:0;line-height:20px;}
div.crc ul.thumbnails img {margin-bottom:10px;width:150px;height:170px;}
#seo_text{padding-bottom:10px;}
.prodModule{float:left;width:195px;padding:0 20px 0 25px;min-height:300px;}

.Adapt_2015_vert #mod_25 .carouselFull .item_ph{height:345px;}
.Adapt_2015_vert #mod_25 .carouselFull .itemb{height: 325px;}
.Adapt_2015_vert #mod_25 .carouselFull .itemb .dv-addToCart{bottom: 10px;}

.mobilePage #seo_text{padding:1.3rem;}
.mobilePage .prodModule{float:left;width:41%;padding:0 1.3rem;min-height:300px;max-width:195px;}
.mobilePage .prodModule li{-ms-word-wrap: break-word; word-wrap: break-word;}
.mobilePage div.crc{padding:0;}
.mobilePage div.crc h3 {width:100%;font-size:1.6em;line-height:normal;margin-bottom:1.3rem;}
.mobilePage div.crc div.crc-cnt{width: 90%;padding:1.3rem;}
.mobilePage div.crc ul {width:100%;}
.mobilePage div.crc ul.thumbnails{display:none;}
.mobilePage div.crc ul.articles li {line-height:normal;margin-bottom:1.3rem; font-size:inherit;}    
.mobilePage h4{padding:1.3rem !important;}
.mobilePage .crsl-wrap{padding-bottom:1.3rem;}
.mobilePage #scp_carousel #CarouselPh .carouselInner{width:100% !important;}
.mobilePage #scp_carousel #CarouselPh .carousel {height:auto !important;}
</style>

<div id="2015_ADAPTIVE_VERT" class="Adapt_2015_vert">
    <div id="seo_text">$%M1%$</div>

    <div id="scp_carousel" style="padding-bottom:10px;">$%M2%$</div>

    <div id="category_title" style="padding-bottom:10px;">$%M3%$</div>

     <div id="scp_verticals" class="clear">
	<div id="mod_4" class="prodModule">$%M4%$</div>
	<div id="mod_5" class="prodModule">$%M5%$</div>
	<div id="mod_6" class="prodModule">$%M6%$</div>
	<div id="mod_7" class="prodModule">$%M7%$</div>
	<div id="mod_8" class="prodModule">$%M8%$</div>
	<div id="mod_9" class="prodModule">$%M9%$</div>
	<div id="mod_10" class="prodModule">$%M10%$</div>
	<div id="mod_11" class="prodModule">$%M11%$</div>
	<div id="mod_12" class="prodModule">$%M12%$</div>
	<div id="mod_13" class="prodModule">$%M13%$</div>
	<div id="mod_14" class="prodModule">$%M14%$</div>
	<div id="mod_15" class="prodModule">$%M15%$</div>
    </div>

    <div id="scp_row9" class="clear" style="padding-bottom:10px; padding-top:30px;">
        <div id="mod_25">$%M16%$</div>
    </div>

    <div id="shop_by_brand" style="padding-bottom:10px;">$%M17%$</div>                  

    <div id="vrt_row10" class="clear" style="padding-bottom:10px;">
        <div id="mod_26">$%M18%$</div>
    </div>
</div>