<style type="text/css">
    #bush, #bush #m8-12 .full { margin-bottom: 20px; }
    #bush #m14-18 { font-size: 0; line-height: 0; text-align: center; }
    #bush #m14-18 .half, #bush #m14-18 .quarter { display: inline-block; }
    #bush #m14-18 .quarter { margin-left: 20px; }
    #bush #m14-18 .half { margin-left: 0; }
    .res1024 #bush #m14-18 #m17 .quarter, .res1024 #bush #m14-18 #m18 .quarter, .res1280 #bush #m14-18 #m18 .quarter { display: none; }
</style>
<div id="bush">
    <!-- header 960x40 -->
    <div id="m1">$%M1%$</div> 
    <!-- drop down navigation 960x30 -->
    <div id="m2">$%M2%$</div>
    <!-- breadcrumb navigation 960x30 -->
    <div id="m3">$%M3%$</div>
    <!-- banner 960x300 -->
    <div id="m4">$%M4%$</div>
    <!-- local navigation 960x40-->
    <div id="m5">$%M5%$</div>
    <!-- intro paragraph 960x85 -->
    <div id="m6">$%M6%$</div>
	<!-- sale dynamic list 960x300 -->
    <div id="m7">$%M7%$</div>
    <!-- carousels 960x300 -->
    <div id="m8-12">
        $%M8%$
        $%M9%$
        $%M10%$
        $%M11%$
        $%M12%$
    </div>
    <!-- section header 960x40 -->
    <div id="m13">$%M13%$</div>
    <!-- ads 470x300 225x300 225x300 225x300 225x300 -->
    <div id="m14-18">$%M14%$ $%M15%$ $%M16%$ <span id="m17">$%M17%$</span> <span id="m18">$%M18%$</span></div>
</div>