<link rel="stylesheet" type="text/css" href="http://www.quill.com/content/iw/styles/agency4.css">
<style type="text/css">
#adaptiveCarousel .carouselWrap {width:960px;}
#adaptiveCarousel .carouselWrap .itemb {width:960px;}
div#agency, div#agency div, div#agency img {font-size: 14px;}
</style>

<!-- MAIN WRAPPER -->
<div id="agency">
	
	<!-- HEADER -->
	<div class="header">

		<!-- H1 960x85 -->
		$%M1%$

		<!-- BANNER 960x300 -->
		$%M2%$

	</div>

	<!-- BODY -->
	<div class="section">

		<!-- DYNAMIC LIST 1 960x300 -->
		$%M3%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 2 960x300 -->
		$%M4%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 3 960x300 -->
		$%M5%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 4 960x300 -->
		$%M6%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 5 960x300 -->
		$%M7%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 6 960x300 -->
		$%M8%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 7 960x300 -->
		$%M9%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 8 960x300 -->
		$%M10%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 9 960x300 -->
		$%M11%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 10 960x300 -->
		$%M12%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 11 960x300 -->
		$%M13%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 12 960x300 -->
		$%M14%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 13 960x300 -->
		$%M15%$

	</div>

	<div class="section">

		<!-- DYNAMIC LIST 14 960x300 -->
		$%M16%$

	</div>

	<div class="section">

		<!-- SHOP BY BRAND CAROUSEL 960x85 -->
		$%M17%$

	</div>

	<!-- FOOTER 960x40 -->
	$%M18%$

</div>

<script src="http://www.quill.com/content/iw/scripts/agency2.js"></script>