<!-- 2018-hot-deals -->
<link href="/content/iw/styles/agency5.min.css" rel="stylesheet">
<style type="text/css">
	.listWidth {
		width: 100%;
	}
</style>
<div id="agency">
	<!-- M1 h1 960x300 -->
	$%M1%$
	<!-- M2 nav 960x30 -->
	$%M2%$
	<!-- M3 breadcrumbs 960x30 -->
	$%M3%$
	<section class="grid section" id="event">
		<!-- M4 banner 960x300 -->
		$%M4%$
		<!-- M5 jump links 960x30 -->
		$%M5%$
		<!-- M6 custom list 960x300 -->
		<div class="listWidth">
			$%M6%$
		</div>
		<!-- M7 custom list 960x300 -->
		<div class="listWidth">
			$%M7%$
		</div>
		<!-- M8 custom list 960x300 -->
		<div class="listWidth">
			$%M8%$
		</div>
		<!-- M9 custom list 960x300 -->
		<div class="listWidth">
			$%M9%$
		</div>
		<!-- M10 custom list 960x300 -->
		<div class="listWidth">
			$%M10%$
		</div>
		<!-- M11 custom list 960x300 -->
		<div class="listWidth">
			$%M11%$
		</div>
		<!-- M12 custom list 960x300 -->
		<div class="listWidth">
			$%M12%$
		</div>
		<!-- M13 custom list 960x300 -->
		<div class="listWidth">
			$%M13%$
		</div>
		<!-- M14 custom list 960x300 -->
		<div class="listWidth">
			$%M14%$
		</div>
		<!-- M15 custom list 960x300 -->
		<div class="listWidth">
			$%M15%$
		</div>
		<!-- M16 banner 960x300 -->
		$%M16%$
	</section>
	<section id="deals" class="grid section">
		<!-- M17 banner 960x300 -->
		$%M17%$
		<!-- M18 search results 960x300 -->
		$%M18%$
	</section>
	<footer class="footer grid">
		<!-- M19 contact 960x40 -->
		$%M19%$
		<!-- M20 seo html 960x300 -->
		$%M20%$
	</footer>
</div>
<script src="/content/iw/scripts/agency3.min.js"></script>
<!-- M21 script 100x100 -->
$%M21%$