<!-- 2018-qp-points -->
<div class="width--1500" id="agency">
	<header class="grid header">
		<!-- M1 banner 960x300-->
		$%M1%$
		<!-- M2 full width ad 960x300 -->
		$%M2%$
		<!-- M3 half width ad 470x300 -->
		$%M3%$
		<!-- M4 half width ad 470x300 -->
		$%M4%$
		<!-- M5 hr 960x300 -->
		$%M5%$
	</header>
	<section class="grid section">
		<!-- M6 header 960x300 -->
		$%M6%$
		<!-- M7 quarter width ad 225x300 -->
		$%M7%$
		<!-- M8 quarter width ad 225x300 -->
		$%M8%$
		<!-- M9 quarter width ad 225x300 -->
		$%M9%$
		<!-- M10 quarter width ad 225x300 -->
		$%M10%$
		<!-- M11 quarter width ad 225x300 -->
		$%M11%$
		<!-- M12 quarter width ad 225x300 -->
		$%M12%$
		<!-- M13 hr 960x300 -->
		$%M13%$
	</section>
	<section class="grid section">
		<!-- M14 header 960x300 -->
		$%M14%$
		<table class="align--center grid__unit--66 table">
			<!-- M15 table row 960x300 -->
			$%M15%$
			<!-- M16 table row 960x300 -->
			$%M16%$
			<!-- M17 table row 960x300 -->
			$%M17%$
			<!-- M18 paper table row 960x300 -->
			$%M18%$
			<!-- M19 table row 960x300 -->
			$%M19%$
			<!-- M20 table row 960x300 -->
			$%M20%$
			<!-- M21 table row 960x300 -->
			$%M21%$
			<!-- M22 table row 960x300 -->
			$%M22%$
			<!-- M23 table row 960x300 -->
			$%M23%$
			<!-- M24 table row 960x300 -->
			$%M24%$
			<!-- M25 table row 960x300 -->
			$%M25%$
			<!-- M26 table row 960x300 -->
			$%M26%$
			<!-- M27 table row 960x300 -->
			$%M27%$
			<!-- M28 table row 960x300 -->
			$%M28%$
			<!-- M29 table row 960x300 -->
			$%M29%$
			<!-- M30 table row 960x300 -->
			$%M30%$
			<!-- M31 table row 960x300 -->
			$%M31%$
			<!-- M32 table row 960x300 -->
			$%M32%$
			<!-- M33 table row 960x300 -->
			$%M33%$
			<!-- M34 table row 960x300 -->
			$%M34%$
		</table>
		<!-- M35 caption html 960x300 -->
		$%M35%$
		<!-- M36 hr 960x300 -->
		$%M36%$
	</section>
	<section class="grid section">
		<!-- M37 header 960x300-->
		$%M37%$
		<!-- M38 full width ad 960x300 -->
		$%M38%$
	</section>
	<footer class="footer grid">
		<!-- M39 contact section 960x40 -->
		$%M39%$
	</footer>
</div>

<!-- 2018-qp-points --><div class="width--1500" id="agency"><header class="grid header">$%M1%$ $%M2%$ $%M3%$ $%M4%$ $%M5%$</header><section class="grid section">$%M6%$ $%M7%$ $%M8%$ $%M9%$ $%M10%$ $%M11%$ $%M12%$ $%M13%$</section><section class="grid section">$%M14%$<table class="align--center grid__unit--66 table">$%M15%$ $%M16%$ $%M17%$ $%M18%$ $%M19%$ $%M20%$ $%M21%$ $%M22%$ $%M23%$ $%M24%$ $%M25%$ $%M26%$ $%M27%$ $%M28%$ $%M29%$ $%M30%$ $%M31%$ $%M32%$ $%M33%$ $%M34%$</table>$%M35%$ $%M36%$</section><section class="grid section">$%M37%$ $%M38%$</section><footer class="footer grid">$%M39%$</footer></div>