<!-- 2018-hot-deals-test -->
<link href="/content/iw/styles/agency5.min.css" rel="stylesheet">
<div id="agency" class="margin__bottom--50 margin__top--50">
	<header class="header grid">
		$%M1%$
	</header>
	<section id="event" class="grid section">
		$%M2%$
		$%M3%$
		$%M4%$
	</section>
	<section id="deals" class="grid section">
		$%M5%$
	</section>
</div>
<script src="/content/iw/scripts/agency3.min.js"></script>

<!-- 2018-hot-deals-test --><link href="/content/iw/styles/agency5.min.css" rel="stylesheet"><div id="agency" class="margin__bottom--50 margin__top--50"><header class="header grid">$%M1%$</header><section id="event" class="grid section">$%M2%$ $%M3%$ $%M4%$</section><section id="deals" class="grid section">$%M5%$</section></div><script src="/content/iw/scripts/agency3.min.js"></script>