<!-- jump-to ads -->
<!-- WXX_XX_XXX_XXX01JL -->
<a class="a" href="javascript:void(0)" onclick="AnimateScroll(\'#xxxx_ID_xxxx\')" title="Scroll to xxxx_TITLE_xxxx"><picture class="webModPicture align--left"><img alt="xxxx_TITLE_xxxx" class="webModImg__webModCard--12-5" src="xxxx_SRC_xxxx"></picture><p class="a p--jump">xxxx_TITLE_xxxx</p></a>

<!-- brand ads -->
<!-- WXX_XX_XXX_XXX010125 -->
<a class="a" href="xxxx_HREF_xxxx" title="Shop xxxx_TITLE_xxxx">
    <picture class="webModPicture align--center margin__bottom--25">
        <img alt="xxxx_TITLE_xxxx" class="webModImg__webModCard--25" src="/is/image/Quill/xxxx_MBNUM_xxxx_s7?wid=500&hei=370">
    </picture>
    <p class="a align--center p--small">xxxx_TITLE_xxxx</p>
</a> 