@{
	//C# HEADER: v4.12 7/14/17 | TEMPLATE: v2.7 10/17/17
	var expiry = new DateTime(2049,12,31,23,59,59);	// modify to expire page sooner. Format: YYYY,MM,DD,HH,MM,SS  - only update YYYY (year), MM (month) and DD (day).
	RequestData.Current.Title = "New Super Cat Test";  // page title
	RequestData.Current.Description = "xxx_DESCRIPTION_xxx";  // meta description 

	if (Request.QueryString["showspotlight"] != "yes") {string redirectURL = ""; if (DateTime.Now >= expiry.AddMonths(1)) {redirectURL = "/sorry";} else {if (DateTime.Now >= expiry) {redirectURL = "/content/iw/promotion/offers/msg/expired.cshtml";}} if (redirectURL != "") {if (Request.QueryString["cm_sp"] != null || Request.QueryString["cm_mmc"] != null) {Response.RedirectPermanent(redirectURL + "?" + Request.QueryString);} else {Response.RedirectPermanent(redirectURL);}}}
}

<!-- 

URL: 

Please add the most recent web request number for this file at the bottom of the list below:

WEBREQUESTNUMBER - DATE - DESIGNER

-->

<link href="/content/iw/styles/agency5.min.css" rel="stylesheet">
<link href="/content/iw/styles/responsive-shim.min.css" rel="stylesheet">
<style></style>
<div id="agency">
	<header class="header grid">
		<header class="agency grid header" id="webMod-1">

			<!-- WYY_MM_NNN_XXXH1 -->

			<!-- u_ad_accordion_close: Hide - -->
			<!-- u_ad_accordion_id: xxxx_ID_xxxx -->
			<!-- u_ad_accordion_open: Read More + -->
			<!-- u_ad_heading_class: margin__vertical--50 -->
			<!-- u_ad_heading_css: display:block; -->
			<!-- u_ad_heading_num: 1 -->

			<h1 class="h1 agency grid__unit--100 margin__bottom--12-5 margin__bottom--50">xxxx_H1_xxxx</h1>

			<!-- u_ad_accordion_html: -->
			<p class="p--small">xxxx_SEO_INTRO_PARAGRAPH_xxxx</p>

			<h2 class="h2--small">xxxx_H2_SEO_xxxx</h2>
			<p class="p--small">xxxx_SEO_PARAGRAPH_xxxx</p>

		</header>
	</header>
	<section class="grid section">
		<div class="agency grid__unit--33">
			<div class="webModInner">
				<div class="div__html--static">

					<!-- WYY_MM_NNN_XXXFCNN33 -->
					<h3 class="h3--featured">xxxx_CATEGORY_xxxx</h3>
					<div class="div__content--featured">
						<ul class="margin__top--25 ul--featured">
							<li class="ul__li--featured">
								<a href="xxxx_SUB_CATEGORY_URL_xxxx?cm_sp=WYY_MM_NNN_XXXFCNN33-_-01" class="a" title="Shop our selection of xxxx_SUB_CATEGORY_xxxx">xxxx_SUB_CATEGORY_xxxx</a>
							</li>
							<li class="ul__li--featured">
								<a href="xxxx_SUB_CATEGORY_URL_xxxx?cm_sp=WYY_MM_NNN_XXXFCNN33-_-02" class="a" title="Shop our selection of xxxx_SUB_CATEGORY_xxxx">xxxx_SUB_CATEGORY_xxxx</a>
							</li>
							<li class="ul__li--featured">
								<a href="xxxx_SUB_CATEGORY_URL_xxxx?cm_sp=WYY_MM_NNN_XXXFCNN33-_-03" class="a" title="Shop our selection of xxxx_SUB_CATEGORY_xxxx">xxxx_SUB_CATEGORY_xxxx</a>
							</li>
							<li class="ul__li--featured">
								<a href="xxxx_SUB_CATEGORY_URL_xxxx?cm_sp=WYY_MM_NNN_XXXFCNN33-_-04" class="a" title="Shop our selection of xxxx_SUB_CATEGORY_xxxx">xxxx_SUB_CATEGORY_xxxx</a>
							</li>
							<li class="ul__li--featured">
								<a href="xxxx_SUB_CATEGORY_URL_xxxx?cm_sp=WYY_MM_NNN_XXXFCNN33-_-05" class="a" title="Shop our selection of xxxx_SUB_CATEGORY_xxxx">xxxx_SUB_CATEGORY_xxxx</a>
							</li>
						</ul>
						<p class="margin__top--50 p--featured">
							<a href="xxxx_VIEW_ALL_URL_xxxx?cm_sp=WYY_MM_NNN_XXXFCNN33-_-VIEWTEXT" class="a" title="Shop our selection of xxxx_CATEGORY_xxxx">View All</a>
						</p>
					</div>
					<div class="div__img--featured">
						<a href="xxxx_VIEW_ALL_URL_xxxx?cm_sp=WYY_MM_NNN_XXXFCNN33-_-VIEWPIC" class="a" title="Shop our selection of xxxx_CATEGORY_xxxx">
							<img src="/is/image/Quill/xxxx_MERCHBASE_NUM_xxxx _s7?&wid=200&hei=200" alt="xxxx_CATEGORY_xxxx" class="img--featured">
						</a>
					</div>

				</div>
			</div>
		</div>
		
	</section>
	<section class="grid section">

		<div class="agency grid__unit--25 webModCard">
			<div class="webModInner">
				<div class="div__html--static">
					
					<!-- WYY_MM_NNN_XXXBRNN25 -->
					<a href="xxxx_BRAND_URL_xxxx?cm_sp=WYY_MM_NNN_XXXBRNN25" class="a" title="Shop our selection of xxxx_BRAND_NAME_xxxx Products">
						<picture class="webModPicture align--center">
							<img src="xxxx_BRAND_IMG_URL_xxxx" alt="xxxx_BRAND_NAME_xxxx Logo" class="webModImg__webModCard--25">
						</picture>
					</a>

				</div>
			</div>
		</div>

	</section>

	<!-- WYY_MM_NNN_XXXHT -->
	<!-- u_ad_div_content_01 -->
	<h1 class="h1 margin__vertical--50" style="display:block;">xxxx_H1_xxxx</h1><p class="p--small">xxxx_SEO_INTRO_PARAGRAPH_xxxx</p><h2 class="h2--small">xxxx_H2_SEO_xxxx</h2><p class="p--small">xxxx_SEO_PARAGRAPH_xxxx</p>
	
	<!-- u_ad_div_content_02 - u_ad_div_content_05 -->
	<h2 class="h2--small">xxxx_H2_SEO_xxxx</h2><p class="p--small">xxxx_SEO_PARAGRAPH_xxxx</p>
	
</div>
<script src="/content/iw/scripts/agency3.min.js"></script>